body{
    background-color: #041410;
}
.btn1{
    border: 2px solid rgba(67, 223, 155, 1);
}
.btn2{
    background-image: linear-gradient(to bottom,rgba(67, 223, 155, 1),
    rgba(61, 186, 181, 1));
    border: 2px solid rgba(67, 223, 155, 1);
}

@keyframes toggle{
    0% {
transform: translateX(11rem);
    }
    100%{
        transform: translateX(-11rem);
    }
}
.animation{
    /* transition:all  10s; */
    /* transform: translateX(-11rem); */
    /* background-color: ; */
    animation: toggle 0.5s forwards;
}

